body {
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px;
}
.alert{text-align: center}

.hideOperation{display: none;}
.table thead th.width80, .table tbody td.width80{width: 80px;}
.table thead th.width110, .table tbody td.width110{width: 110px;}
.table thead th.width140, .table tbody td.width140{width: 140px;}
.table thead th.width170{width: 170px;}
.table thead th.width200{width: 200px;}
.table thead th.width230{width: 230px;}
.table thead th.width260{width: 260px;}

#addUG{width: 320px; margin-left: -160px;}
.current{background-color: #FFE6B0; border: 1px solid #FFB951}
.font-red{color: red}
div.affix{position: fixed; top: 75px;}
.row-fluid div.content{margin-left:16%; margin-top:75px; margin-bottom:91px;}